@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #051937;
  --blue: #61dbfb;
  --white: #f4f6f7;
  --black: #000000;
  --gray: #c3c3c3;
  --primary: #f4f6f7;
  --secondary: #c3c3c3;
}

::-webkit-scrollbar {
  display: none;
}

body {
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  background: radial-gradient(
    circle,
    #090909,
    #0b0b0b,
    #0d0d0d,
    #0e0e0e,
    #101010,
    #101010,
    #111111,
    #111111,
    #101010,
    #0f0f0f,
    #0e0d0e,
    #0d0c0c
  );
  height: 100vh;
  background-position: center;
  background-size: cover;
  font-family: "roboto";

  @font-face {
    font-family: "short-baby";
    src: url("../../public/fonts/ShortBaby-Mg2w.ttf");
  }

  @font-face {
    font-family: "roboto";
    src: url("../../public/fonts/RobotoCondensed-VariableFont_wght.ttf");
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  }

  .underLine_animation {
    font-size: 16px;
    line-height: 20px;
    position: relative;
    color: white;
  }

  .underLine_animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: transparent;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .underLine_animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    background-color: #61dbfb;
  }

  .selcted_menu {
    color: #61dbfb;
    border-bottom: 1px solid #61dbfb;
    border-radius: 0;
  }
  // .selcted_menu::after{
  //   content: "";
  //   position: absolute;
  //   width: 100%;
  //   background-color: #61dbfb;
  //   // transform: scaleX(0);
  //   height: 2px;
  //   bottom: -3px;
  //   left: 0;
  //   // background-color: transparent;
  //   // transform-origin: bottom right;
  //   // transition: transform 0.25s ease-out;
  // }
}

@layer components {
  .btn {
    background-color: transparent;
    border: 1px solid theme("colors.white");
    // border-top: 1px solid theme("colors.white") ;
    // border-left: 1px solid theme("colors.white");
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.3");
    box-shadow: theme("boxShadow.xl");
    text-align: center;
    text-wrap: nowrap;
    cursor: pointer;
    transform: scale(0.9);
    transition-duration: 300ms;
    padding: 10px 15px;
    min-width: 150px;
  }

  .btn:hover {
    transform: scale(1);
    background-color: black;
  }

  .selected-menu {
    transform: scale(1);
    background-color: black;
  }

  .aboutMe {
    font-size: 150px;
    color: rgba(255, 255, 255, 0.2);
    background-image: url("https://firebasestorage.googleapis.com/v0/b/tocinocode.appspot.com/o/global%2Fweb%20img%2Fimagehf.png?alt=media&token=9269010e-91c4-4cfe-aa4c-34dab3ef2271");
    background-size: cover;
    -webkit-background-clip: text;
    animation: animate 14s linear infinite;
  }
}

@layer base {
  h1 {
    @apply text-white;
    @apply text-[80px];
    @apply font-roboto;
  }

  h2 {
    @apply text-white;
    @apply text-[50px];
    @apply font-roboto;
  }

  h3 {
    @apply text-white;
    @apply text-[20px];
    @apply font-roboto;
  }

  p {
    @apply text-gray;
    @apply text-[12px];
    @apply lg:text-[14px];
  }

  /* ... */
}

@keyframes animate {
  0% {
    background-position: left 0px top 0x;
  }

  40% {
    background-position: left 900px top 0px;
  }
}

@keyframes title {
  0% {
    line-height: 0%;
    letter-spacing: 0.25em;
    opacity: 0;
  }

  25% {
    line-height: 0%;
    opacity: 0%;
  }

  80% {
    opacity: 100%;
  }

  100% {
    line-height: 100%;
    opacity: 100%;
  }
}

.animate-title {
  animation: title 3s ease-out forwards;
}

@keyframes fade-left {
  0% {
    transform: translateY(100%);
    opacity: 0%;
  }

  30% {
    transform: translateY(0%);
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

.animate-fade-left {
  animation: fade-left 3s ease-in-out forwards;
}

@keyframes fade-right {
  0% {
    transform: translateX(-100%);
    opacity: 0%;
  }

  30% {
    transform: translateX(0%);
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

.animate-fade-right {
  animation: fade-right 3s ease-in-out forwards;
}

@keyframes fade-Top {
  0% {
    transform: translateY(-100%);
    opacity: 0%;
  }

  30% {
    transform: translateY(0%);
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

.animate-fade-right {
  animation: fade-Top 3s ease-in-out forwards;
}

.h1::before {
  content: attr(data-text);
  position: absolute;
  z-index: 1;
  color: #0ea5e9;
  pointer-events: none;
  width: 0;
  overflow: hidden;

  transition: 0.4s ease-out width;
}

.h1:hover::before {
  width: 100%;
}
